@import 'styles/variables.scss';

.input {
    display: flex;
    width: 100%;
    height: 2.1875rem;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid $gray_text2;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-inline: .3em;
    &:invalid{
        border-color: #E91C23;
    }
}

.label {
    color: $gray_text2;
    font-family: Fira Code;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}