@import 'styles/variables.scss';


.header {
    position: fixed;
    min-height: 3.5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    padding-inline: 10px;
    background: rgba(255, 255, 255, .91);
    backdrop-filter: blur(2.5px);
    overflow-x: clip;
    width: 100%;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 2560px;

        &>.container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &.icons {
                gap: 1em;
            }
        }
    }
}

.logo {
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &>svg {
        display: none;
    }
}

.navlinks {
    display: flex;
    gap: 25px;
    list-style: none;

    &-link {
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        transition: .3s all ease-out;
    }

    &:hover a:not(:hover) {
        filter: blur(50%);
        color: transparent;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

.iconwrapper {
    outline: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &_field {
        background: $gray_bar;
        border-radius: 50px;
        transition: none;
        width: 0em;
        height: 2em;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        position: relative;

        &>input {
            visibility: hidden;
            width: 17.5em;
        }

        &>svg {
            visibility: hidden;
            width: 1.5em;
        }
    }

    &.opened>.iconwrapper {
        display: none;
    }

    &.opened &_field {
        transition: width .7s ease-in-out;
        display: flex;
        padding-inline: .5em;
        width: 20em;
        overflow: hidden;

        &>input {
            visibility: visible;
        }

        &>svg {
            visibility: visible;
        }
    }
}

.BurgerMenu {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header{
        padding: 0;
        &-container{
            margin-inline: 10px;
            &.searchActive{
                margin-inline: 0;
            }
        }
    }
    .navlinks {
        display: none;
    }

    .profile {
        display: none;
    }

    .logo>svg {
        display: block;
    }

    .BurgerMenu {
        display: block;
        transition: transform .7s ease-in-out;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #000;
        z-index: 999;
        &.inactive {
            transform: translateX(-200%);
        }

        &.active {
            transform: translateX(0);
        }

        &>.header {
            background: transparent;
            color: white;
            justify-content: space-between;
            padding-inline: 10px;
        }

        &>.navlinks {
            margin-top: 10em;
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            color: white;
            text-transform: uppercase;

            &>.navlinks-link {
                font-size: 2.5rem;
                &.login{
                    font-size: 3em;
                }
            }
        }
    }

    .header-container.searchActive {
        flex-shrink: 0;
        justify-content: center;
        .logo{
            display: none;
        }
        .cart{
            display: none;
        }
        .container.icons,.search.opened,.search_field.container{
            width: 100%;
            .search_field.container{
                display: flex;
                transition: none;
                &>input{
                    width: 100%;
                }
            }
        }
    }
}